# Python
*.pyc
*.pyo
__pycache__/
*.db
*.sqlite3

# Virtual Environment
venv/
.env/

# Django
*.log
*.pot
*.pyc
*.pyo
*.swp
*.swo
db.sqlite3

# VS Code
.vscode/

# MacOS
.DS_Store

# Node Modules
node_modules/

# IDEs
.idea/

# Other files
*.bak
